@model Park
@{
    ViewData["Title"] = "Detail";
}

<h2 class="heading">@Model.ParkName</h2>

<table class="table text-content">
    <tbody>
           <tr>
                <td>
                    <img src="~/img/parks/@(Model.ParkCode).jpg" alt="An image of Model.ParkName" />
                </td>
                <td>
                    <p><strong>State:</strong> @Model.State</p>
                    <p><strong>Acres: </strong>@Model.Acreage </p>
                    <p><strong>Elevation:</strong> @Model.ElevationInFeet ft.</p>
                    <p><strong>Miles of Trials:</strong> @Model.MilesOfTrail </p>
                    <p><strong>Number of Campsites:</strong> @Model.NumberOfCampsites</p>
                    <p><strong>Climate</strong> @Model.Climate</p>
                    <p><strong>Year Founded:</strong> @Model.YearFounded</p>
                    <p><strong>Annual Vistors:</strong> @Model.AnnualVisitorCount</p>
                    <p><strong>Number of Animal Species: </strong>@Model.NumberOfAnimalSpecies</p>
                    <p><strong>Entry Fee:</strong> $@Model.EntryFee</p>
                    <p>"@Model.InspirationalQuote" - <em>@Model.InspirationalQuoteSource</em></p>
                    <p>@Model.ParkDescription</p>


                    @*<a asp-controller="home" asp-action="forecast" asp-route-parkcode="@Model.ParkCode">
            <img id="forecastButton" src="~/img/weather/weatherforecastbutton.jpg" alt="Button to display the forecast" />
        </a>*@

                    <form asp-controller="home" asp-action="forecast" method="post">
                        Fahrenheit:  @Html.RadioButton("Degree", "F", true)
                        Celsius:  @Html.RadioButton("Degree", "C", false)

                        <input type="hidden" name="ParkCode" value="@Model.ParkCode" />
                        <br />
                        <br />
                        <input type="submit" value="5-Day Weather Forecast" />
                    </form>
                </td>
            </tr>

    </tbody>
</table>
